/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-jun-2020, 14:15:55
    Author     : HAUSE
*/
b{
    
}

#txt_prin{
    color: #00F;
    background-color: #CFC;
    font-family: Georgia,Cambria,serif;
    font-size: 16px;
}

#headn1{
    color: #F00;
    font-family: Verdana,Calibri,sans-serif;
    font-size: 32px;
}

#headn2{
    color: #A00;
    font-family: Verdana,Calibri,sans-serif;
    font-size: 24px;
}
#sus{
    font-size: 20px;
    font-weight: bold;
}
#Acro{
    color: #FFF;
    background-color: #000;
    font-style: italic;
}

p[class*="ri"] {font-size: 100px}